<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>MEAN developer based in the INDIA, building scalable, distributed web systems with Node.js, Express.js, MongoDB, and AngularJS.</h2>
                <p class="lead">Having 3 years of experience in Web development</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>