<!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="color-blue">GAURAV JOSHI</h1>
            <h3>MEAN DEVELOPER</h3>
            <br>
            <a href="#about" class="btn btn-blue btn-lg">Find Out More</a>
        </div>
    </header>

    <%- include about.ejs %>

    <%- include services.ejs %>

    <%- include portfolio.ejs %>

    <%- include map.ejs %>
