<!DOCTYPE html>
<html>
  <head>
    <title>MEAN Developer</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="MEAN Node.js sails.js express.js hapi.js javascript jquery HTML CSS Angular nvd3.js d3.js Jade Ejs dust bootstrap perl developer">
    <meta name="description" content="portfolio of a MEAN developer">
    <meta name="author" content="Gaurav Joshi">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/owl.theme.css">
    <link rel="stylesheet" href="/styles/stylish-portfolio.css">
    <link rel="stylesheet" href="/styles/xtra.css">
    <!--STYLES END-->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Gaurav Joshi</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >My Skills</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Projects</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <%- body %>


     <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>GAURAV JOSHI</strong>
                    </h4>
                    <p>House No 28 Block F Pocket 10<br>Sector 15, Rohini, New Delhi 110089, India</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (+91) 958-234-7838</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="joshigaurav2511@gmail.com">joshigaurav2511@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/gaurav.joshi.7798"><i class="fa fa-facebook fa-fw fa-3x" target="_blank"></i></a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/pub/gaurav-joshi/59/2a1/364"><i class="fa fa-linkedin fa-fw fa-3x" target="_blank"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/GJ2511"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/2772066/gaurav-joshi"><i class="fa fa-stack-overflow fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Gaurav Joshi 2015</p>
                </div>
            </div>
        </div>
    </footer>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/_jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/script.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
