<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="/img/portfolio-1.jpg">
                        </div>
                    <div class="face back">
                        <div class="well well-sm inner">
                            <div class="portfolio-name">DealFlow</div>
                            <div class="portfolio-stack">DealFlow</div>
                            <div class="portfolio-desc">DealFlow is my first project</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="/img/portfolio-1.jpg">
                        </div>
                    <div class="face back">
                        <div class="well well-sm inner"> Back</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>