<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="/img/portfolio-1.jpg">
                        </div>
                    <div class="face back">
                        <div class="well well-sm inner">
                            <div class="portfolio-name">
                                <a target="_blank" href="https://dealflow.com">DealFlow</a>
                            </div>
                            <div class="portfolio-stack">
                                <p class="heading">TECHNOLOGIES</p>
                                <span>
                                    Node.js, Express.js, Dust.js, Mysql, Perl, D3.js, NVD3.js, Java-Script, Bootstrap3, Jquery, HTML, CSS, DataTables.js, formula.js, Moment.js, Ajax
                                </span>
                            </div>
                            <div class="portfolio-desc">
                                Dealflow.com is focused on the intersection of social media + finance in order to build the largest database of Actively marketed deals on the Internet. Dealflow.com develops software based on the collaborative collection of actively-marketed deal information. This offers insight into public and private financial deals including investment fund interests, real estate opportunities, mergers and acquisitions, and other types of deals being marketed on the Internet.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <img src="/img/portfolio-1.jpg">
                        </div>
                    <div class="face back">
                        <div class="well well-sm inner"> Back</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>