<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Skills</h2>
                <hr class="small">
                <!-- Gaurav -->
                    <div id="myCarousel" class="owl-carousel">
                        <!-- Carousel Item List -->
                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <img src="/images/node.png">
                                </span>
                                <h4>
                                <strong>Node js</strong>
                                </h4>
                                <p>
                                    Node.js is an open-source, cross-platform runtime environment for developing server-side web applications. Node.js applications are written in JavaScript and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux, FreeBSD, NonStop, IBM AIX, IBM System z and IBM i.
                                </p>
                                <a href="https://nodejs.org/en/about/" class="btn btn-light" target="_blank">Learn More</a>
                            </div>
                        </div>

                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <img src="/images/node.png">
                                </span>
                                <h4>
                                <strong>Node js</strong>
                                </h4>
                                <p>
                                    Node.js is an open-source, cross-platform runtime environment for developing server-side web applications. Node.js applications are written in JavaScript and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux, FreeBSD, NonStop, IBM AIX, IBM System z and IBM i.
                                </p>
                                <a href="https://nodejs.org/en/about/" class="btn btn-light" target="_blank">Learn More</a>
                            </div>
                        </div>
                        <!-- Carousel Item List Ends here-->
                    </div>
                <!-- Joshi -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>