<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Skills</h2>
                <hr class="small">
                <!-- Gaurav -->
                    <div id="myCarousel" class="owl-carousel">
                        <!-- Carousel Item List -->
                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <img src="/images/node.png">
                                </span>
                                <h4>
                                <strong>Node js</strong>
                                </h4>
                                <p>
                                    Node.js is an open-source, cross-platform runtime environment for developing server-side web applications.
                                </p>
                                <a href="https://nodejs.org/en/about/" class="btn btn-light" target="_blank">Learn More</a>
                            </div>
                        </div>

                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <img src="/images/node.png">
                                </span>
                                <h4>
                                <strong>Express js</strong>
                                </h4>
                                <p>
                                    Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
                                </p>
                                <a href="http://expressjs.com/" class="btn btn-light" target="_blank">Learn More</a>
                            </div>
                        </div>

                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <img src="/images/node.png">
                                </span>
                                <h4>
                                <strong>Sails js</strong>
                                </h4>
                                <p>
                                    Sails is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture.
                                </p>
                                <a href="http://sailsjs.org/" class="btn btn-light" target="_blank">Learn More</a>
                            </div>
                        </div>

                        <div>
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <img src="/images/node.png">
                                </span>
                                <h4>
                                <strong>Hapi js</strong>
                                </h4>
                                <p>
                                    Hapi enables developers to focus on writing reusable application logic instead of spending time building infrastructure..
                                </p>
                                <a href="http://hapijs.com/" class="btn btn-light" target="_blank">Learn More</a>
                            </div>
                        </div>
                        <!-- Carousel Item List Ends here-->
                    </div>
                <!-- Joshi -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>